
# for local testing stuff (docker compuse up first)
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/drive"

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

FILES_BUCKET_NAME=drive-files
S3_ENDPOINT=http://localhost:4566